* {
    font-family: Arial Black;
}

html {
  background: url(football-grass.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.margin_top_50px {
  margin-top: 50px
}

.padding_top_50px {
  padding-top: 50px
}

.fb_login {
  padding-top: 0.5em;
	padding-right: 0.5em
}

.user_name_and_photo {
  padding-bottom: 0.5em
}

.user_name {
  color: white;
  font-size: large;
	float: left;
	padding-right: 1em;
	padding-top: 0.6em;
}
